@font-face {
  font-family: 'SeuratPro';
  src: url('../assets/fonts/SeuratProEB.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'SeuratPro';
  src: url('../assets/fonts/SeuratProThin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'SeuratPro';
  src: url('../assets/fonts/SeuratProLight.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SeuratPro';
  src: url('../assets/fonts/SeuratProN.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SeuratPro';
  src: url('../assets/fonts/SeuratProB.otf') format('opentype');
  font-weight: 700;
}
